Lab_6/Lab_6a/Lab_6a/Lab_6a/Connected Services/XXXServiceReference/XXXService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sub">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Mul">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MulResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MulResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetA">
        <s:complexType />
      </s:element>
      <s:element name="GetAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncreaseСounter">
        <s:complexType />
      </s:element>
      <s:element name="IncreaseСounterResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetСounterValue">
        <s:complexType />
      </s:element>
      <s:element name="GetСounterValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetСounterValueResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="SubSoapIn">
    <wsdl:part name="parameters" element="tns:Sub" />
  </wsdl:message>
  <wsdl:message name="SubSoapOut">
    <wsdl:part name="parameters" element="tns:SubResponse" />
  </wsdl:message>
  <wsdl:message name="MulSoapIn">
    <wsdl:part name="parameters" element="tns:Mul" />
  </wsdl:message>
  <wsdl:message name="MulSoapOut">
    <wsdl:part name="parameters" element="tns:MulResponse" />
  </wsdl:message>
  <wsdl:message name="SetASoapIn">
    <wsdl:part name="parameters" element="tns:SetA" />
  </wsdl:message>
  <wsdl:message name="SetASoapOut">
    <wsdl:part name="parameters" element="tns:SetAResponse" />
  </wsdl:message>
  <wsdl:message name="GetASoapIn">
    <wsdl:part name="parameters" element="tns:GetA" />
  </wsdl:message>
  <wsdl:message name="GetASoapOut">
    <wsdl:part name="parameters" element="tns:GetAResponse" />
  </wsdl:message>
  <wsdl:message name="IncreaseСounterSoapIn">
    <wsdl:part name="parameters" element="tns:IncreaseСounter" />
  </wsdl:message>
  <wsdl:message name="IncreaseСounterSoapOut">
    <wsdl:part name="parameters" element="tns:IncreaseСounterResponse" />
  </wsdl:message>
  <wsdl:message name="GetСounterValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetСounterValue" />
  </wsdl:message>
  <wsdl:message name="GetСounterValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetСounterValueResponse" />
  </wsdl:message>
  <wsdl:portType name="XXXServiceSoap">
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Возвращает x + y</wsdl:documentation>
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Возвращает x - y</wsdl:documentation>
      <wsdl:input message="tns:SubSoapIn" />
      <wsdl:output message="tns:SubSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Mul">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Возвращает x * y</wsdl:documentation>
      <wsdl:input message="tns:MulSoapIn" />
      <wsdl:output message="tns:MulSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Устанавливает значение переменной a</wsdl:documentation>
      <wsdl:input message="tns:SetASoapIn" />
      <wsdl:output message="tns:SetASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Получает значение переменной a</wsdl:documentation>
      <wsdl:input message="tns:GetASoapIn" />
      <wsdl:output message="tns:GetASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IncreaseСounter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Увеличить значение счетчика на 1</wsdl:documentation>
      <wsdl:input message="tns:IncreaseСounterSoapIn" />
      <wsdl:output message="tns:IncreaseСounterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetСounterValue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Получить значение счетчика</wsdl:documentation>
      <wsdl:input message="tns:GetСounterValueSoapIn" />
      <wsdl:output message="tns:GetСounterValueSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XXXServiceSoap" type="tns:XXXServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <soap:operation soapAction="http://tempuri.org/Sub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mul">
      <soap:operation soapAction="http://tempuri.org/Mul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetA">
      <soap:operation soapAction="http://tempuri.org/SetA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetA">
      <soap:operation soapAction="http://tempuri.org/GetA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncreaseСounter">
      <soap:operation soapAction="http://tempuri.org/IncreaseСounter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetСounterValue">
      <soap:operation soapAction="http://tempuri.org/GetСounterValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="XXXServiceSoap12" type="tns:XXXServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sub">
      <soap12:operation soapAction="http://tempuri.org/Sub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mul">
      <soap12:operation soapAction="http://tempuri.org/Mul" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetA">
      <soap12:operation soapAction="http://tempuri.org/SetA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetA">
      <soap12:operation soapAction="http://tempuri.org/GetA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncreaseСounter">
      <soap12:operation soapAction="http://tempuri.org/IncreaseСounter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetСounterValue">
      <soap12:operation soapAction="http://tempuri.org/GetСounterValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XXXService">
    <wsdl:port name="XXXServiceSoap" binding="tns:XXXServiceSoap">
      <soap:address location="http://172.16.193.174:40751/Lab_6/Lab_6a/XXXService/XXXService.asmx" />
    </wsdl:port>
    <wsdl:port name="XXXServiceSoap12" binding="tns:XXXServiceSoap12">
      <soap12:address location="http://172.16.193.174:40751/Lab_6/Lab_6a/XXXService/XXXService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>